<div class="team-container">
    <h1>Sip, savor, and meet the story brewers 🍻</h1>
    <div class="team">
        <div class="team-member">
            <h2>Jacopo</h2>
            <h3>Mechanical Engineering</h3>
        </div>
        <div class="team-member">
            <h2>Jake</h2>
            <h3>Life Sciences</h3>
        </div>
        <div class="team-member">
            <h2>Chiara</h2>
            <h3>Energy</h3>
        </div>
        <div class="team-member">
            <h2>Mariem</h2>
            <h3>Robotics</h3>
        </div>
        <div class="team-member">
            <h2>Alexis</h2>
            <h3>Statistics</h3>
        </div>
    </div>
</div>
