<div class="team-container">
    <h1>Team members</h1>
    <div class="team">
        <div class="team-member">
            <h2>Jacopo</h2>
            <h3>Mechanical Engineering</h3>
            <p> I don’t even know why I’m here.</p>
        </div>
        <div class="team-member">
            <h2>Jake</h2>
            <h3>Life Sciences</h3>
            <p> My favourite movie is Mary Poppins, I can sing the entire soundtrack without lyrics!</p>
        </div>
        <div class="team-member">
            <h2>Chiara</h2>
            <h3>Energy</h3>
            <p> Until recently, I thought Gandolf was a Star Wars character.</p>
        </div>
        <div class="team-member">
            <h2>Meriam</h2>
            <h3>Robotics</h3>
            <p> I have replaced Netflix watching with ADA’s recorded lectures; they’re my new favourite show!</p>
        </div>
        <div class="team-member">
            <h2>Alexis</h2>
            <h3>Statistics</h3>
            <p> The best popcorns are the sweet ones. If you disagree then do not watch movies.</p>
        </div>
    </div>
</div>
