---
---
// Override theme color variables

$header-bg-color: #25549A; 
$header-bg-color-secondary: #84B2D4;
$section-headings-color: #25549A; 
$body-link-color: #84B2D4; 
$blockquote-text-color: #84B2D4; 

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply normal font color and font weight to both ordered and unordered lists */
ul, ol {
    color: #000000; 
    font-size: 16px;
}

ul li, ol li {
    color: #000000; 
    font-size: 16px;
}

#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(182, 182, 182, 0.5);
    z-index: 9999;

    #progress-bar {
        height: 100%;
        width: 0;
        background-color: #25549A;
        transition: width 0.4s ease-out;
    }
}


.page-header {
    height: 100vh;
    height: 100dvh;
    background: none;

    #scene {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        .background {
            height: 120%;
            width: 110%;
            position: absolute;
            top: -5%;
            left: -5%;
            background-image: url("{{ '/assets/images/background-tile.png' | relative_url }}");
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center center; 
           
        }

        .background::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.4) 0%,
                rgba(0, 0, 0, 0.8) 100%
            );
        }


       
    }

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;

        & .glass {
            max-width: 950px;
            padding: 20px 50px;
            background: rgba(255, 255, 255, 0.12);
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.7px);
            -webkit-backdrop-filter: blur(7.7px);
        }

        & #discover-button {
            background-color: #84B2D4;
            color: #fff;

            &:hover {
                background-color: #25549A;
            }
        }
    }

    .bubble {
        position: fixed;
        bottom: 0;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 215, 0, 0.8); 
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /* Star shape */
        opacity: 1; 
        animation: fallDown 3s ease-out forwards, spin 2s infinite linear;
        z-index: 9999; 
    }
    
    @keyframes fallDown {
        0% {
            transform: translateX(-50%) rotate(0deg);
            opacity: 1;
            bottom: 0;
        }
        100% {
            transform: translateX(calc(-50% + 100px)) rotate(720deg); 
            opacity: 0;
            bottom: 100%; 
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.full-size {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

#content {
    p {
        color: black;
        font-size: 1rem;
        text-align: justify;
    }
}

.team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    color: #fff;
    background-color: rgba(37, 84, 154, 0.9);
    text-align: center;

    h1, h2, h3 {
        font-weight: 500;
    }

    & .team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        max-width: 1200px;
    }

    & .team-member {
        width: 300px;
        margin: 20px;
        text-align: center;


        & h2, h3 {
            margin: 0;
        }

        & h3 {
            font-size: 1rem;
            opacity: 0.7;
        }

        & p {
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}

.site-footer {
    background-color: #262626;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    border: 0;

    & p {
        margin: 0.25rem;
    }

    & a {
        color: #fff;
        font-weight: 400;
        text-decoration: underline;
    }
}

.hidden {
    display: none;
}

.podium {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 75px;

    .position {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 240px;
        text-align: center;
        margin: 0 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 5px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.5s ease-in-out;
    }

    .first {
        background-color: gold;
        height: 250px;
        animation-delay: 1s !important;

        h2, h3 {
            color: #56bef4;
        }
    }

    .second {
        background-color: silver;
        height: 200px;
        animation-delay: 0.5s !important;

        h2, h3 {
            color: #1f78b4;
        }
    }

    .third {
        background-color: #cd7f32;
        color: #b2df8a;
        height: 150px;

        h2, h3 {
            color: #b2df8a;
        }
    }

    h2, h3 {
        margin: 0;
    }

    h2 {
        font-size: 3rem;
    }

    @keyframes grow {
        from {
            transform: scaleY(0);
        }
        to {
            transform: scaleY(1);
        }
    }

    .animate {
        animation: grow 0.9s ease forwards;
    }

}

